body {
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
}

a,
a:hover {
  color: #0088cc;
}
a:focus {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Telegram Me */
.tgme_page_wrap {
  font-family: 'Roboto', sans-serif;;
  color: #2b2d2e;
}
.tgme_page_wrap a,
.tgme_page_wrap a:hover,
.tgme_page_wrap a:active {
  color: #3ca2d9;
}

.tgme_head_wrap {
  background: #FFF;
  height: 59px;
  padding: 14px 16px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
}
.tgme_logo {
  display: inline-block;
  background: url(https://tolxy.github.io/LogoBig_1x.png) 0 0 no-repeat;
  width: 131px;
  height: 31px;
  background-size: 131px 31px;
}
a.tgme_head_dl_button {
  display: block;
  font-size: 16px;
  line-height: 100%;
  color: #FFF;
  background: #32afed;
  padding: 2px 15px 0 16px;
  height: 45px;
  line-height: 43px;
  text-align: center;
}
a.tgme_head_dl_button:hover,
a.tgme_head_dl_button:active {
  color: #FFF;
  background: #32afed;
  text-decoration: none;
}
.tgme_icon_arrow {
  display: inline-block;
  background: url(https://tolxy.github.io/Arrow_1x.png) 0 0 no-repeat;
  width: 8px;
  height: 12px;
  background-size: 8px 12px;
  vertical-align: top;
  margin-top: 15px;
  margin-left: 9px;
}

.tgme_page {
  position: relative;
  margin: 52px auto 50px;
  max-width: 424px;
}
.tgme_page_post {
  max-width: 455px;
  padding: 52px 0 50px;
  margin: 0 auto;
}
.tgme_page_photo {
  text-align: center;
  margin-top: -15px;
  margin-bottom: 15px;
}
.tgme_page_photo_image {
  width: 122px;
  height: 122px;
  border-radius: 61px;
}
.tgme_page_title {
  font-size: 26px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  max-width: 340px;
  padding: 0 10px;
  margin: 0 auto;
  color: #333;
}
.tgme_page_extra {
  font-size: 15px;
  line-height: 27px;
  text-align: center;
  margin-bottom: 6px;
  color: #808080;
}
.tgme_page_additional {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  max-width: 340px;
  padding: 0 10px;
  margin: 0 auto;
}
.tgme_page_additional {
  display: none;
  font-size: 14px;
  line-height: 23px;
  margin-top: 32px;
  color: #808080;
}
.tgme_page_action {
  text-align: center;
  margin-top: 32px;
  line-height: 0;
}
a.tgme_action_button_new {
  font-size: 14px;
  font-weight: bold;
  line-height: 100%;
  color: #FFF;
  background: #5dc390;
  border-radius: 22px;
  overflow: hidden;
  display: inline-block;
  padding: 15px 27px 13px;
  text-transform: uppercase;
}
a.tgme_action_button_new:hover,
a.tgme_action_button_new:active {
  color: #FFF;
  background: #4bbc87;
  text-decoration: none;
}
a.tgme_action_button_new {
  background: #33d684;
}
a.tgme_action_button_new:hover,
a.tgme_action_button_new:active {
  background: #28c979;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {

  .tgme_logo {
    background: url(https://tolxy.github.io/LogoBig_2x.png) 0 0 no-repeat;
    background-size: 131px 31px;
  }
  .tgme_icon_arrow {
    background-image: url(https://tolxy.github.io/Arrow_2x.png);
  }
}


@media (max-width: 640px) {
  a:hover {
    text-decoration: none;
  }
}

@media (max-width: 480px) {


  .tgme_head_wrap {
    background: #FFF;
    height: 59px;
    padding: 14px 16px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  a.tgme_head_dl_button {
    text-align: left;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.15);
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.15);
  }
  .tgme_icon_arrow {
    float: right;
  }
  .tgme_page_photo_image {
    width: 110px;
    height: 110px;
    border-radius: 55px;
  }

  .tgme_page_additional {
    display: block;
  }
}
